Django==5.2.16
djangorestframework==3.17.1
channels==4.2.0
channels-redis==4.2.1
daphne==4.1.2
celery==5.4.0
redis==5.2.1
psycopg[binary]==3.2.5
dj-database-url==2.3.0
django-cors-headers==4.7.0
paho-mqtt==2.1.0
ruff==0.9.10
ortools==9.11.4210
joblib==1.5.2
xgboost-cpu==3.2.0
